*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{

    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    box-sizing: border-box;

}


.navbar-light .navbar-toggler{

    border: none;
    outline: none;
}

.navbar-toggler{

    font-size: 1.3rem;
    display: none;

}

.navbar-toggler i{

    color: #fff;
}

.navbar-toggler:focus{
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
}

.navbar .navbar-brand{

    font-size: 23px;
    color: #282828bd;
}

.navbar{

    direction: rtl;
    padding-top: 0.1rem!important;
    padding-bottom: 0.2rem!important;

}


.navbar .data{

    margin: 0px;
}

.navbar .data li{

    list-style-type: none;
    float: left;
    padding: 15px 10px;
    margin: 0px;

}

.navbar .data li a i{

    padding-left: 8px;
    font-size: 14px;
    color: #ddd;
}



.navbar .data li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 4px 6px;
}
.navbar img{

    width: 70px;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #3b69a5!important;
}

.navbar-nav a i{

    padding-left: 8px;
    font-size: 14px;
    color: #999;
}

.navbar-nav .nav-item{

    padding: 6px 0px;
}

/**announce-head**/

.announce-head{

    padding: 30px 0px;

}

.announce-head h4{

    color: #555;
}

.announce-head input{

    width: 50%;
}

.announce-head1{

    padding: 20px 0px;
}

.announce-head2{

    padding: 20px 0px;
}

.announce-head2 label{


    display: none;

}

.announce-head label{

    width: 20%;
    padding: 10px 0px;
    color: #555;
}

.announce-head input,.announce-head select,.announce-head textarea{

    border: 1px solid #bbb;
    outline: none;
    width: 65%;
    padding: 6px 6px;
    margin: 10px 0px;
    border-radius: 4px;

}

.announce-head input[type="submit"]{

    background-color: #177777;
    border: 1px solid #177777;
    color: #fff;
    width: 25%;
    margin-right: -10px;
    margin-bottom: 20px;
    font-size: 15px;
}

@media(max-width:768px){

    .navbar-toggler{

        font-size: 1.3rem;
        display: block;

    }


    .navbar .data{

        list-style-type: none;
        float: left;
        padding: 15px 10px;
        margin: 0px;
        display: none;

    }

    .announce-head2{

        padding: 0px 0px;
    }

    .announce-head2 label{


        display: inline-block;

    }

    .announce-head label{

        width: 29%;
        padding: 10px 12px;
    }

    .announce-head input,.announce-head select,.announce-head textarea{

        border: 1px solid #bbb;
        outline: none;
        width: 68%;
        padding: 6px 6px;
        margin: 10px 0px;
        border-radius: 4px;

    }

    .announce-head input[type="submit"]{

        background-color: #177777;
        border: 1px solid #177777;
        color: #fff;
        width: 35%;
        margin-right: -10px;
        margin-bottom: 20px;
        margin-top: 0px;

    }


}

::-webkit-scrollbar{

    width: 5px;
}

::-webkit-scrollbar-thumb{

    background-color: #ccc;
    border-radius: 8px;
}


/**This Is Head-Photo**/

.head-photo{

    padding: 30px 0px;
}

.head-photo1{

    width: 31.8%;
    margin-right: 1.5%;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2%;


}

.head-para{

    padding: 25px 15px;
}

.head-para p{

    color: #555;
    line-height: 1.2em;
}

.head-para button{

    background-color: #177777;
    border: 1px solid #177777;
    padding: 7px 25px;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 15px;
    margin-top: 7px;
}

.head-para button:hover{

    background-color: #3771bb;
    border: 1px solid #3771bb;
}

.head-para h6{

    padding-bottom: 12px;
}

.head-para p i{

    padding-left: 5px;
    font-size: 14px;
    color: #999;
}

.head-para p span{

    padding-left: 15px;
    font-size: 15px;
}

.head-photo1 img{

    width: 100%;
    height: 250px;
}

.row>* {

    padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0);
}

@media(max-width:768px){

    .navbar-toggler{

        font-size: 1.3rem;
        display: block;

    }

    .head-photo1{


        margin-bottom: 3%;


    }

    .head-para h6{

        padding-bottom: 12px;
        font-size: 17px;
    }

    .navbar .data{

        list-style-type: none;
        float: left;
        padding: 15px 10px;
        margin: 0px;
        display: none;

    }

    .head-photo1{

        width: 100%;
        margin-right: 0%;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;

    }

    .search-head input,.search-head select{

        width: 46.7%;
        margin-right: 1%;
        padding: 8px 7px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
    }

    .search-head input[type="submit"]{

        background-color: #177777;
        color: #fff;
        width: 30%;
        padding: 7px 7px;


    }

}


::-webkit-scrollbar{

    width: 5px;
}

::-webkit-scrollbar-thumb {

    background-color: #ccc;
    border-radius: 8px;
}

/*  start body welcome */


.navbar-toggler i{

    color: #fff;
}



.navbar .data li{

    list-style-type: none;
    float: left;
    padding: 15px 10px;
    margin: 0px;

}

.navbar .data li a i{

    padding-left: 8px;
    font-size: 14px;
    color: #ddd;
}

.navbar .data li a{

    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.navbar img{

    width: 70px;
}



.navbar-nav a i{

    padding-left: 8px;
    font-size: 14px;
    color: #999;

}




/**This Is Header**/




.carousel-inner .one .alpha div,.carousel-inner .two .alpha div,.carousel-inner .three .alpha div{

    width: 30%;
}



.header  h2{

    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    color: #555;
}

.header  p{

    line-height: 1.8em;
    font-size: 15px;
    color: #333;

}

a{
    text-decoration: none;
}


.header .carousel-inner .alpha button{

    border: none;
    padding: 12px 6px;
    background: #1f5599;

    color: #fff;
    font-size: 14.5px;
    border-radius: 3px;
    margin-top: 10px;
    transition: 0.5s;
    width: 40%;
    text-align: center;


}

.header .carousel-inner .alpha button:nth-of-type(2){


    background: #177777;
    margin-right: 6px;


}

.header .carousel-inner .alpha button:hover{

    background: #177777;

}

.header .carousel-inner .alpha button:nth-of-type(2):hover{

    background: #1f5599;


}

.alpha1 .alpha{

    margin-top: 140px;
}


@media(max-width:768px){

    .alpha1 .alpha{

        margin-top: 100px;
    }

    .header .carousel-inner .alpha button{

        border: none;
        padding: 12px 6px;
        background: #1f5599;

        color: #fff;
        border-radius: 3px;
        margin-top: 10px;
        transition: 0.5s;
        width: 60%;
        text-align: center;
        font-size: 15px;


    }


    .header .carousel-inner .alpha button:nth-of-type(2){


        background: #177777;
        margin-right: 0px;
        display: block;


    }

    .carousel-inner .one .alpha div,.carousel-inner .two .alpha div,.carousel-inner .three .alpha div{

        width: 55%;
    }


    .head-login .login1 form label{


        font-size: 13px;


    }

    .head-login .login1 form input,.head-login .login1 form select{

        font-size: 13px;
    }

}




/**This Is Head-Photo2**/
.head-para a{

    text-decoration: none;
    color: #555;
}

.head-photo2{

    margin-top: 4%;
    border-radius: 4px;
    margin-bottom: 2%;

}

.head-para{

    padding: 25px 8px;
}

.head-para p{

    color: #555;
    text-align: justify;
}




.head-para{

    padding: 25px 8px;
}

.head-para p{

    color: #555;
}

.head-para button{

    background-color: #7cad38;
    border: 1px solid #7cad38;
    padding: 7px 25px;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 15px;
}

.head-para button:hover{

    background-color: #3771bb;
    border: 1px solid #3771bb;
}

.head-para h6{

    padding-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    color: #444;
}

.head-para p i{

    padding-left: 5px;
    font-size: 14px;
    color: #999;
}

.head-para p span{

    padding-left: 15px;
    font-size: 15px;
}

.carousel-inner{

    height: 380px;
}

.head-photo11{

    padding: 25px 0px;
}

.head-photo11 img{

    width: 48.5%;
    height: 270px;
    margin-bottom: 1.5%;
    margin-right: 1%;
}

@media(max-width:768px){

    .navbar-toggler{

        font-size: 1.3rem;
        display: block;

    }

    .head-photo11 img{

        width: 100%;
        height: 270px;
        margin-bottom: 1.5%;
    }


    .navbar .data{

        list-style-type: none;
        float: left;
        padding: 15px 10px;
        margin: 0px;
        display: none;

    }


}


::-webkit-scrollbar{

    width: 5px;
}

::-webkit-scrollbar-thumb {

    background-color: #ccc;
    border-radius: 8px;
}



/* start data of mobile show ========================================================================================*/
table{

    width: 100%;

}

table thead{

    background: #177777;
    color: #fff;

}


table tr td,table tr th{

    width: 20%;
    padding: 10px 5px;


}
table thead tr th{

    padding: 15px 5px!important;

}


.form1{

    padding: 30px 0px;
}



.form1 button,.form1 input,select{

    padding: 9px 7px;
    margin-right: 5px;
}
.vag tr td,.vag1 tr td{

    border-bottom: 1px solid #aaa;
}
.ha{

    margin-top: 12px;
}


@media only screen and (max-width:970px) {

    table{

        width: 100%;

    }
    table tbody tr td,table thead tr th{

        width: 15%;
        font-size: 12px;


    }
    table tr .fad1{

        width: 40%;
    }

    table tr .fad1 a .gad,.fad1 button .gad{

        font-size: 13px;
    }
    .form1 button i{

        font-size: 13px;


    }
    .navbar-toggler{

        font-size: 1.3rem;
        display: block;

    }
    .ha{
        margin-top: 10px;
        border: 1px solid #aaa;
    }

}


/* navbar start ======================================================== */
.navbar-light .navbar-toggler{

    border: none;
    outline: none;
}

.navbar-toggler{

    font-size: 1.3rem;
    display: none;

}

.navbar-toggler i{

    color: #fff;
}

.navbar-toggler:focus{
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
}

.navbar .navbar-brand{

    font-size: 23px;
    color: #282828bd;
}

.navbar{

    direction: rtl;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
}


.navbar .data{

    margin: 0px;
}

.navbar .data li{

    list-style-type: none;
    float: left;
    padding: 15px 10px;
    margin: 0px;

}

.navbar .data li a i{

    padding-left: 8px;
    font-size: 14px;
    color: #ddd;
}

.navbar .data li a{

    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.navbar img{

    width: 70px;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #3b69a5!important;
}

.navbar-nav a i{

    padding-left: 8px;
    font-size: 14px;
    color: #999;

}

.navbar-nav .nav-item{

    padding: 6px 0px;
}

@media only screen and (max-width:970px) {



    .navbar-toggler{

        font-size: 1.3rem;
        display: block;

    }

}
/**This Is Header**/

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: visible;
}

/* start register of users ================================================================== */


/**This Is Head-login**/


.head-login .alpha{

    height: 100%;
    align-items: center;
    display: flex;
}

.head-login .login1{

    height: 550px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    margin-right: -30px;

}

.head-login .login1 img{

    margin-bottom: 20px;
    width: 140px;

}

.head-login .row{

    align-items: center;
    justify-content: right;
}

.head-login .login1 form label{

    display: block;
    padding: 10px 0px;
    width: 80%;
    margin-right: 10%;
    color: #666;
    text-align: right;
    font-size: 14.5px;


}

.head-login .login1 div{

    width: 100%;
}

.head-login .login1 form{

    width: 100%;
}

.head-login .login1 form input,.head-login .login1 form select{

    padding: 6px 7px;
    display: block;
    width: 80%;
    margin-right: 10%;
    border: 1px solid #aaa;
    outline: none;
    border-radius: 3px;
    font-size: 14.5px;
    margin-bottom: 0px;

}

.head-login .login1 form select{

    padding: 5.5px 7px;


}

.head-login .login1 h4{

    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: #282828bd;
}

.head-login .login1 form input[type="submit"]{

    background-color: #177777;
    color: #fff;
    border: 1px solid #177777;
    transition: 0.5s;
    margin-top: 15px;
}

.head-login .login1 form input[type="button"]{

    margin-top: 15px;
    background-color: #eea42e;
    border: 1px solid #eea42e;

}

.head-login .login1 form input[type="button"]:hover{

    background-color: #3771bb;
    color: #fff;
    border: 1px solid #3771bb;
}

.head-login .login1 form input[type="submit"]:hover{

    background-color: #eea42e;
    border: 1px solid #eea42e;
}


@media(max-width:768px){

    .navbar-toggler{

        font-size: 1.3rem;
        display: block;

    }



    .navbar .data{

        list-style-type: none;
        float: left;
        padding: 15px 10px;
        margin: 0px;
        display: none;

    }

    .head-login .login1 form label{


        font-size: 13px;


    }

    .head-login .login1 form input,.head-login .login1 form select{

        font-size: 13px;
    }

}

/* start update */
.rar{

    display: flex;
    align-items: center;
    justify-content: center;

}
@media only screen and (max-width:970px) {

    .rar {

        display: none;
    }

}
